.container {
    display: flex;
    margin: auto;
    border: 1px solid black;
    height: 600px;
    gap: 10px;
    padding: 10px;    
}

.flex {
    width: 400px;
    height: 150px;
    background: #4fc9a4;
    
    
}

/* .f1 {
    flex: 0 1 40%;
}

.f2 {
    flex: 0 1 60%;
} */

.item {
     /* перенос */
    flex-wrap: wrap;
    /* управления направлением основной и поперечной осей */
    flex-direction: row;
    /* Это свойство-шорткат для одновременного определения значений свойств flex-direction и flex-wrap. */
    flex-flow: column wrap;
    /* выравнивать флекс-элементы внутри флекс-контейнера по основной оси */
    justify-content: space-between;
    /* выравнивания элементов внутри контейнера по поперечной оси */
    align-items: center;
    /*  распределяет свободное пространство по поперечной оси между рядами флекс-элементов */
    align-content: center;
    /*  отступы между строками и столбцами.
    /* Является краткой записью свойств row-gap и column-gap */ 
    gap: 30px calc(10rem - 10px);
    /* порядок */
    order: 3;
}
   

    .item {
        /* может ли вырастать флекс-элемент при наличии свободного места, и насколько. По умолчанию значение равно 0. */
        flex-grow: 1;
        /* указывает, в каких пропорциях элемент будет уменьшаться */
        flex-shrink: 3;
        /* указывает на размер элемента до того, как свободное место будет распределено  */
        flex-basis: 250px;

        flex: 1 1 auto;
    }

    .item {
        /* При помощи этого свойства можно выровнять один или несколько элементов иначе, чем задано у родительского элемента */
        align-self: flex-end;
      }